<div class="container mt-5 mb-8">
  <h2 class="text-center text-uppercase mt-5 mb-3">CONSULTAR PEDIDOS</h2>
  <div style="display: flex; justify-content: center; align-items: center; gap: 30px;">
    <span class="p-float-label">
      <input pInputText id="username"  [(ngModel)]="searchTerm" />
      <label htmlFor="username">Buscar...</label>
  </span>
  <p-button label="Buscar" styleClass="p-button-primary mt-4 mb-4" (click)="search()" ></p-button>

  </div>


  <div>
    <ng-container *ngIf="loading==true">
      <app-loading></app-loading>
    </ng-container>
    <ng-container *ngIf="data.length == 0" ><p class="text-center mt-3">Realize su busqueda...</p></ng-container>
    <ng-container *ngIf="data.length > 0 && loading==false">
      <div class="row">
        <div class="col-12 col-md-2">   <h2 class="text-uppercase d-inline my-3 me-4">Pedido numero : {{this.copiaDeSearch}}</h2></div>
        <div class="col-12 col-md-3">  
          <div class="card flex justify-content-center">
            <p-button label=" Generar Factura" icon="pi-arrow-left" styleClass="p-button-success" (click)="showDialog()"></p-button>
            <p-dialog header="" [(visible)]="visible" [style]="{width: '80vw',height:'100%'}"
            >
               <app-generar-facturas
               [copiaDeSearch]="copiaDeSearch"
               [visible]="visible"
               (newItemEvent)="funcionEjm($event)"
               ></app-generar-facturas>
            </p-dialog>
        </div>
        
      
      </div>
      </div>
   
      <p-table [value]="items" [rows]="rowsPerPage" [paginator]="true" [totalRecords]="totalRecords">
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo</th>
            <th>comprobante_Id</th>
            <th>productoNombre</th>
            <th>precioUnitarioCompra</th>
            <th>precioTotalCompra</th>
            <th>unidadMedida_id</th>
            <th>precioUnitario</th>
            <th>precioTotal</th>
            <th>cantidad</th>
            <th>devuelto</th>
            <th>ganancia</th>
            <th>productoGlosa</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.tipo }}</td>
            <td>{{ item.comprobante_Id }}</td>
            <td>{{ item.productoNombre }}</td>
            <td>{{ item.precioUnitarioCompra }}</td>
            <td>{{ item.precioTotalCompra }}</td>
            <td>{{ item.unidadMedida_id }}</td>
            <td>{{ item.precioUnitario }}</td>
            <td>{{ item.precioTotal }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.devuelto }}</td>
            <td>{{ item.ganancia }}</td>
            <td>{{ item.productoGlosa }}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
  <div class="">
    <p-button label="Regresar" icon="pi-arrow-left" [routerLink]="['/dashboard/perfil']" styleClass="p-button-warning mt-4 mb-6"></p-button>
  </div>
</div>
