<div class="content h-100">
<div class="landing landing-light">
<section  class="landing-hero flex align-items-center flex-column justify-content-top relative hero-animation ">
<div class="hero-inner z-2 relative">
  <div class="flex flex-column md:align-items-center md:flex-row">

    <div class="p-2 flex flex-row md:flex-column"><a [routerLink]="['/dashboard/datos']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Datos Personales</b><span></span></div>
          </div>
        </div>
      </a>
       <a  [routerLink]="['/dashboard/generarFacturas']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Generas Facturas</b><span></span></div>
          </div>
        </div>
      </a>
<!--
      <a href="https://designer.primeng.org/" target="_blank">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Subir documentos</b><span></span></div>
          </div>
        </div>
      </a> -->

    </div>

    <div class="p-2 flex flex-row md:flex-column">
      <a [routerLink]="['/dashboard/consultas']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/blocks-icon.svg"
              alt="primeng core">
            <div class="name"><b>Consultar Facturas</b><span></span></div>
          </div>
        </div>
      </a>
     <!--  <a href="https://primeng.org/setup">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation logo hidden md:flex my-4 align-items-center justify-content-center">
          <div class="hero-box-inner text-center"><img src="../../../assets/PrimeNG_files/designer-icon.svg"
              alt="primeng main">
            <div class="name flex flex-column"><b class="font-bold mb-1">NEXT-GEN</b><b
                class="font-bold">ANGULAR UI</b></div>
          </div>
        </div>
      </a>
      <a href="https://primefaces.org/primeflex/" target="_blank">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex ml-4 md:ml-0 align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/designer-icon.svg"
              alt="primeng icons">
            <div class="name"><b>CSS Utilities</b><span>PrimeFlex CSS</span></div>
          </div>
        </div>
      </a> -->
    </div>

    <div class="p-2 flex flex-row md:flex-column">
      <a  [routerLink]="['/dashboard/consultarPedidos']">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex md:ml-0 align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/designer-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Consultar Pedidos</b><span></span></div>
          </div>
        </div>
      </a>
    <!--   <a href="https://primeng.org/icons">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex ml-4 md:ml-0 md:mt-4 align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Icon Library</b><span>200+ Icons</span></div>
          </div>
        </div>
      </a>

      <a href="https://primeng.org/icons">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex ml-8 md:ml-0 md:mt-4 align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Icon Library</b><span>200+ Icons</span></div>
          </div>
        </div>
      </a> -->
    </div>
  </div>
</div>
</section>
</div>
</div>

<!-- <app-footer></app-footer> -->