<!-- <div class="content h-100">
<div class="landing landing-light">
<section  class="landing-hero flex align-items-center flex-column justify-content-top relative hero-animation ">
<div class="hero-inner z-2 relative">
  <div class="flex flex-column  md:flex-row">
    <ng-container *ngIf="usuarioFlag=='Logistica'">
      <div class="p-2 flex flex-row md:flex-column">
     
       <a  [routerLink]="['/dashboard/generarFacturasLogistica']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Generar Facturas</b><span></span></div>
          </div>
        </div>
      </a>

    </div>
    </ng-container>
    <ng-container *ngIf="usuarioFlag!=='Logistica'">

      <div class="p-2 flex flex-row md:flex-column">
        <a [routerLink]="['/dashboard/datos']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Datos Personales</b><span></span></div>
          </div>
        </div>
      </a>

       <a  [routerLink]="['/dashboard/generarFacturas']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/core-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Generar Facturas</b><span></span></div>
          </div>
        </div>
      </a>

    </div>

    <div class="p-2 flex flex-row md:flex-column">

      <a [routerLink]="['/dashboard/consultas']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/blocks-icon.svg"
              alt="primeng core">
            <div class="name"><b>Consultar Facturas</b><span></span></div>
          </div>
        </div>
      </a>

      <a [routerLink]="['/dashboard/facturasDenegadas']" >
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/blocks-icon.svg"
              alt="primeng core">
            <div class="name"><b>Facturas Denegadas</b><span></span></div>
          </div>
        </div>
      </a>

    </div>

    <div class="p-2 flex flex-row md:flex-column">
      <a  [routerLink]="['/dashboard/consultarPedidos']">
        <div
          class="hero-box w-10rem h-10rem md:w-12rem md:h-12rem animation flex md:ml-0 align-items-center justify-content-center">
          <div class="flex flex-column align-items-center"><img src="../../../assets/PrimeNG_files/designer-icon.svg"
              alt="primeng templates">
            <div class="name"><b>Consultar Pedidos</b><span></span></div>
          </div>
        </div>
      </a>
    </div>
    </ng-container>



  </div>
</div>
</section>
</div>
</div> -->

<div class="container container-perfil">

  <ng-container *ngIf="usuarioFlag=='Logistica'">
    <div class="card-group">
      <div class="card" [routerLink]="['/dashboard/generarFacturasLogistica']">
        <i class='bx bxs-pencil'></i>
        <h3>Generar Factura Logistica</h3>
      </div> 
  </div>
  </ng-container>
  <ng-container *ngIf="usuarioFlag!=='Logistica'">
  
    <div class="card-group">

      <div class="card" [routerLink]="['/dashboard/datos']">
        <i class='bx bx-user'></i>
        <h3 class="">Datos Personales</h3>
      </div>
      <div class="card" [routerLink]="['/dashboard/generarFacturas']">
        <i class='bx bxs-pencil'></i>
        <h3>Generar Facturas</h3>
      </div>
      
      <div class="card" [routerLink]="['/dashboard/consultas']">
        <i class='bx bx-question-mark' ></i>
        <h3>Consultar Facturas</h3>
      </div>
  
    </div>
    <div class="card-group">
      
      <div class="card"  [routerLink]="['/dashboard/facturasDenegadas']">
        <i class='bx bxs-notification-off'></i>
        <h3>Facturas Denegadas</h3>
      </div>
      <div class="card" [routerLink]="['/dashboard/consultarPedidos']">
        <i class='bx bx-question-mark' ></i>
        <h3>Consultar Pedidos</h3>
      </div>
      <div class="card no-card">
        <h3></h3>
      </div>
    </div>
  </ng-container>




</div>



<!-- <app-footer></app-footer> -->