
<div class="container mt-4">
  <h2 class="mb-3 text-center">Datos Personales</h2>
  <div class="container-perfil bg-white p-3 mt-5">
    <p>
      USUARIO : <b class="text-primary">{{usuarioData.userName}}</b>
    </p>
    <br>
      <p>
        RUC : <b class="text-primary">{{ruc}}</b>
      </p>
       <br>
      <p>
        CORREO : <b class="text-primary">{{usuarioData.email}}</b>
      </p>
       <br>
      <div class="row">
        <div class="col-12 col-md-3">
          <button class="btn-primary" [routerLink]="['/dashboard/perfil']">Regresar</button>
        </div>
      </div>
  
  </div>
</div>

<!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>

<i class="pi pi-check" style="font-size: 1rem"></i>
<i class="pi pi-times" style="font-size: 1.5rem"></i>
<i class="pi pi-align-justify" style="font-size: 2rem;color:white"></i>
<i class="pi pi-user" style="font-size: 2.5rem"></i>

<p-dropdown [options]="listItems" [(ngModel)]="listItems" >
  <ng-template let-item pTemplate="selectedItem">
       <i class="{{item.label}}"></i>
  </ng-template>
  <ng-template let-object pTemplate="item">
       <i class="{{object.label}}"></i>
  </ng-template> -->