<div class="mb-8">
  <div class="container mt-4" style="padding-bottom: 100px;">
    <ng-container *ngIf="loading" >
      <app-loading ></app-loading>
    </ng-container>
    <ng-container *ngIf="!loading">
      <h2 class="mb-3">Consultas Facturas</h2>
      <p-table [value]="items" [rows]="rowsPerPage" [paginator]="true" [totalRecords]="totalRecords">
        <ng-template pTemplate="header">
          <tr>
            <th>Orden</th>
            <th>Tipo de documento</th>
            <th>Serie</th>
            <th>Numero</th>
            <th>Importe</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.corden}}</td>
            <td>{{item.tipodocu_codigo}}</td>
            <td>{{item.cserie}}</td>
            <td>{{item.cnumero}}</td>
            <td>{{item.nimporte}}</td>
          </tr>
        </ng-template>
      </p-table>
      
    </ng-container>

    <p-button label="Regresar" icon="pi-arrow-left" [routerLink]="['/dashboard/perfil']" styleClass="p-button-warning mt-4"></p-button>
  </div>
</div>
