<div class="container" style="padding-bottom: 100px;">
  <div class="container-generarfacturas">
    <h2 class="text-center text-uppercase mt-5 mb-3">GENERAR FACTURAS</h2>
<div class="row">
  <div class="mx-auto">
    <p class="mb-2">{{this.copiaDeSearch}}</p>
    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" class="mb-5 form-generar-facturas">

      <div class="form-group">
        <label>Serie:</label>
        <input type="text" class="form-control"
        formControlName="Serie"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['Serie'].errors &&
        invoiceForm.controls['Serie'].touched
        "
        >Por favor llenar Serie</span
      >
      </div>
    
      <div class="form-group">
        <label>NumberInvoice:</label>
        <input type="text" class="form-control"
        formControlName="NumberInvoice"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['NumberInvoice'].errors &&
        invoiceForm.controls['NumberInvoice'].touched
        "
        >Por favor llenar NumberInvoice</span
      >
      </div>
    
    
      <div class="form-group">
        <label>DateInvoice:</label>
        <input type="date" class="form-control"
        formControlName="DateInvoice"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['DateInvoice'].errors &&
        invoiceForm.controls['DateInvoice'].touched
        "
        >Por favor llenar DateInvoice</span
      >
      </div>
    
      <div class="form-group">
        <label>DateDue:</label>
        <input type="date" class="form-control"
        formControlName="DateDue"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['DateDue'].errors &&
        invoiceForm.controls['DateDue'].touched
        "
        >Por favor llenar DateDue</span
      >
      </div>
    
      <div class="form-group">
        <label>Currency:</label>
        <select class="form-control"
        formControlName="Currency">
          <option value="" disabled>Seleccione una opcion</option>
          <option value="PEN">PEN</option>
          <option value="USD">USD</option>
        </select>
       <!--  <input type="text" class="form-control"
        formControlName="Currency"
        > -->
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['Currency'].errors &&
        invoiceForm.controls['Currency'].touched
        "
        >Por favor llenar Currency</span
      >
      </div>
    
      <div class="form-group">
        <label>TotalAmount:</label>
        <input type="text" class="form-control"
        formControlName="TotalAmount"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['TotalAmount'].errors &&
        invoiceForm.controls['TotalAmount'].touched
        "
        >Por favor llenar TotalAmount</span
      >
      </div>
      <ng-container *ngIf="!copiaDeSearch">
        <div class="form-group">
          <label>IdPedidoErp:</label>
          <input type="text" class="form-control"
          formControlName="IdPedidoErp"
          >
          <span
          class="text-danger"
          *ngIf="
          invoiceForm.controls['IdPedidoErp'].errors &&
          invoiceForm.controls['IdPedidoErp'].touched
          "
          >Por favor llenar IdPedidoErp</span
        >
        </div>
      </ng-container>
     
  
      <div class="form-group">
        <label>AzureBlobStorage:</label>
        <input type="file" class="form-control"
        formControlName="AzureBlobStorage"
        (change)="onFileSelected($event)"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['AzureBlobStorage'].errors &&
        invoiceForm.controls['AzureBlobStorage'].touched
        "
        >Por favor llenar AzureBlobStorage</span
      >
      </div>
  
      <div class="form-group">
        <label>AzureBlobStorage2:</label>
        <input type="file" class="form-control"
        formControlName="AzureBlobStorage2"
        (change)="onFileSelected2($event)"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['AzureBlobStorage2'].errors &&
        invoiceForm.controls['AzureBlobStorage2'].touched
        "
        >Por favor llenar AzureBlobStorage</span
      >
      </div>

      <div class="form-group d-none">
        <label>NumberRuc:</label>
        <input type="text" class="form-control"
        formControlName="NumberRuc"
        >
        <span
        class="text-danger"
        *ngIf="
        invoiceForm.controls['NumberRuc'].errors &&
        invoiceForm.controls['NumberRuc'].touched
        "
        >Por favor llenar NumberRuc</span
      >
      </div>
  
  
  <!--   <label>AzureBlobStorage:</label>
    <input type="file" formControlName="AzureBlobStorage"> -->
  

    <ng-container *ngIf="!loading">
      <div class="buttons-generarFacturas">
        <button class="btn btn-primary" type="submit">Generar Factura</button>
        <ng-container *ngIf="copiaDeSearch">
          <button   type="button" class="btn-secondary" (click)="cancelar()">Cancelar factura</button>
        </ng-container>
        <ng-container *ngIf="!copiaDeSearch">
          <button   type="button" class="btn-secondary"  [routerLink]="['/dashboard/perfil ']">Cancelar</button>
        </ng-container>
     
      </div>
    
    </ng-container>
  
    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>
  </form>
  </div>
</div>
  </div>
</div>
