.archivoPdf{
    cursor: pointer;
}

table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }

 .container-info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }

 @media (max-width: 990px) { 
    .container-info{
       flex-direction: column;
       align-items: center;
     }
  }